<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>





  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FIREWALL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'rules' %}">Home</a>
          </li>
          <li  id="user-group-data" style="display: none" data-user-group="{{ user_group }}" class="nav-item">
              <a class="nav-link active"  aria-current="page" href="{% url "admin:index" %}">Admin</a>
          </li>
          <li class="nav-item ml-auto">
              <a class="nav-link active" aria-current="page" href="{% url "user_logout" %}">Logout</a>
          </li>
      </ul>
      </div>
    </div>
  </nav>


<div class="container-fluid">
  <button  id="add" type="button" class="btn btn-primary">Add Rules</button>

  <form style="display: none"  id="my-form" method="POST" action="{% url 'adding' %}">
    <label id="select" for="routingType">Select Routing Type:</label>
    <select class="text-clr bg-color" id="routingType" name="routingType" onchange="toggleInput()">
      <option value="none">--</option>
      <option value="both">both</option>
        <option value="pre-routing">Pre-Routing</option>
        <option value="post-routing">Post-Routing</option>
    </select>

    <div class="container-fluid" id="inputContainer"></div>
      {% csrf_token %}
    <input class="btn btn-primary" id ="submit_add" type="submit" value="Submit">
  </form>

</div>

   

<table class="table table-dark table-striped">
    <thead>
      <tr id="columns">
        <p>PREROUTING</p>
        <th scope="col">Policy ID</th>
        <th scope="col">Source IP</th>
        <th scope="col">Source Port</th>
        <th scope="col">Protocol</th>
        <th scope="col">Destination IP</th>
        <th scope="col">Destination Port</th>
        <th scope="col">Options</th>

      </tr>
    </thead>
    <tbody>
    {% for value_pre in prerouting_data %}
      <tr>
        <th scope="row">{{value_pre.id}}</th>
        <td  contenteditable="false">{{ value_pre.source_ip }}</td>
        <td  contenteditable="false" >{{ value_pre.source_port }}</td>
        <td  contenteditable="false">{{ value_pre.protocol }}</td>
        <td  contenteditable="false">{{ value_pre.destination_ip }}</td>
        <td contenteditable="false">{{ value_pre.destination_port }}</td>
        <td >
          <button  type="button" class="edit btn btn-primary" >edit</button>
          <button  style="display: none"  type="button" onclick="myFunction('prerouting')" data-object-id={{value_pre.id}} class="save btn btn-warning"  >save</button>
          <button  type="button" class="btn btn-danger" onclick="deleteRow2(this, 'preroute')" data-object-id={{value_pre.id}}   >delete</button></td>
          
        </tr>
    {% endfor %}

    </tbody>
  </table>


<table class="table table-dark table-striped">
    <thead>
      <tr>
        <p>POSTROUTING</p>
        <th scope="col">Policy ID</th>
        <th scope="col">Destination IP</th>
        <th scope="col">Source IP</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
    {% for value_post in postrouting_data%}
      <tr>
        <th scope="row">{{value_post.id}}</th>
        <td  contenteditable="false">{{ value_post.source_ip }}</td>
        <td  contenteditable="false">{{ value_post.destination_ip }}</td>
        <td>
          <button  type="button" class="edit btn btn-primary" >edit</button>
          <button  style="display: none"  type="button" onclick="myFunction('postrouting')"  data-object-id={{value_post.id}} class="save btn btn-warning" >save</button>
          <button  type="button" class="btn btn-danger"  onclick="deleteRow2(this,'postroute')" data-object-id={{value_post.id}}>delete</button></td>

        </td>
          
      </tr>
      {% endfor %}

    </tbody>
  </table>




  <div id="error-popup"  data-error-msg="{{error_msg}}" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ERROR</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="con-text"><span id="error-msg"></span>!!</p>

        </div>
        <div class="modal-footer">
          <button type="button" id="close-popup" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>



    <!-- POP-UP -->
    <div id="custom-popup" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">CONFIRM?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="con-text">Do you want to delete policy ID <span id="policy-id"></span>?</p>
          </div>
          <div class="modal-footer">
            <button type="button"  id="popup-confirm" class="btn btn-primary">Save changes</button>
            <button type="button" id="popup-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  

 
    <button id="server_details_btn" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop1">SERVER_DETAILS</button>
    <div id="loginModal"  class="modal" tabindex="-1" >
      
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="heading_server_details">Please Enter the SERVER-DETAILS</h4>
          </div>
            <form id="loginForm">
                <input type="text" class="form-control" name="ip" placeholder="IP">
                <input type="text"  class="form-control" name="username" placeholder="Username">
                <input type="password"  class="form-control" name="password" placeholder="Password">
                <button type="submit" class="btn btn-primary" >save</button>
                <button type="txt" id="close_btn" name="cancel"  class="btn btn-secondary"  >cancel</button>
                
            </form>
        </div>
    </div>

</body>
<script src="{% static 'adding.js' %}"></script>
</html>